<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xienan.dao.BabyMapper" >
  <resultMap id="BaseResultMap" type="com.xienan.model.Baby" >
    <id column="baby_id" property="babyId" jdbcType="BIGINT" />
    <result column="baby_name" property="babyName" jdbcType="VARCHAR" />
    <result column="baby_birthday" property="babyBirthday" jdbcType="DATE" />
    <result column="baby_height" property="babyHeight" jdbcType="INTEGER" />
    <result column="baby_weight" property="babyWeight" jdbcType="INTEGER" />
    <result column="baby_bust" property="babyBust" jdbcType="INTEGER" />
    <result column="baby_hip" property="babyHip" jdbcType="INTEGER" />
    <result column="baby_waist" property="babyWaist" jdbcType="INTEGER" />
    <result column="baby_phone" property="babyPhone" jdbcType="VARCHAR" />
    <result column="baby_address" property="babyAddress" jdbcType="VARCHAR" />
    <result column="baby_upperbodycare" property="babyUpperbodycare" jdbcType="VARCHAR" />
    <result column="baby_fullbodycare" property="babyFullbodycare" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    baby_id, baby_name, baby_birthday, baby_height, baby_weight, baby_bust, baby_hip, 
    baby_waist, baby_phone, baby_address, baby_upperbodycare, baby_fullbodycare, insert_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bj_baby
    where baby_id = #{babyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bj_baby
    where baby_id = #{babyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xienan.model.Baby" >
    insert into bj_baby (baby_id, baby_name, baby_birthday, 
      baby_height, baby_weight, baby_bust, 
      baby_hip, baby_waist, baby_phone, 
      baby_address, baby_upperbodycare, baby_fullbodycare, 
      insert_time)
    values (#{babyId,jdbcType=BIGINT}, #{babyName,jdbcType=VARCHAR}, #{babyBirthday,jdbcType=DATE}, 
      #{babyHeight,jdbcType=INTEGER}, #{babyWeight,jdbcType=INTEGER}, #{babyBust,jdbcType=INTEGER}, 
      #{babyHip,jdbcType=INTEGER}, #{babyWaist,jdbcType=INTEGER}, #{babyPhone,jdbcType=VARCHAR}, 
      #{babyAddress,jdbcType=VARCHAR}, #{babyUpperbodycare,jdbcType=VARCHAR}, #{babyFullbodycare,jdbcType=VARCHAR}, 
      #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xienan.model.Baby" >
    insert into bj_baby
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="babyId != null" >
        baby_id,
      </if>
      <if test="babyName != null" >
        baby_name,
      </if>
      <if test="babyBirthday != null" >
        baby_birthday,
      </if>
      <if test="babyHeight != null" >
        baby_height,
      </if>
      <if test="babyWeight != null" >
        baby_weight,
      </if>
      <if test="babyBust != null" >
        baby_bust,
      </if>
      <if test="babyHip != null" >
        baby_hip,
      </if>
      <if test="babyWaist != null" >
        baby_waist,
      </if>
      <if test="babyPhone != null" >
        baby_phone,
      </if>
      <if test="babyAddress != null" >
        baby_address,
      </if>
      <if test="babyUpperbodycare != null" >
        baby_upperbodycare,
      </if>
      <if test="babyFullbodycare != null" >
        baby_fullbodycare,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="babyId != null" >
        #{babyId,jdbcType=BIGINT},
      </if>
      <if test="babyName != null" >
        #{babyName,jdbcType=VARCHAR},
      </if>
      <if test="babyBirthday != null" >
        #{babyBirthday,jdbcType=DATE},
      </if>
      <if test="babyHeight != null" >
        #{babyHeight,jdbcType=INTEGER},
      </if>
      <if test="babyWeight != null" >
        #{babyWeight,jdbcType=INTEGER},
      </if>
      <if test="babyBust != null" >
        #{babyBust,jdbcType=INTEGER},
      </if>
      <if test="babyHip != null" >
        #{babyHip,jdbcType=INTEGER},
      </if>
      <if test="babyWaist != null" >
        #{babyWaist,jdbcType=INTEGER},
      </if>
      <if test="babyPhone != null" >
        #{babyPhone,jdbcType=VARCHAR},
      </if>
      <if test="babyAddress != null" >
        #{babyAddress,jdbcType=VARCHAR},
      </if>
      <if test="babyUpperbodycare != null" >
        #{babyUpperbodycare,jdbcType=VARCHAR},
      </if>
      <if test="babyFullbodycare != null" >
        #{babyFullbodycare,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xienan.model.Baby" >
    update bj_baby
    <set >
      <if test="babyName != null" >
        baby_name = #{babyName,jdbcType=VARCHAR},
      </if>
      <if test="babyBirthday != null" >
        baby_birthday = #{babyBirthday,jdbcType=DATE},
      </if>
      <if test="babyHeight != null" >
        baby_height = #{babyHeight,jdbcType=INTEGER},
      </if>
      <if test="babyWeight != null" >
        baby_weight = #{babyWeight,jdbcType=INTEGER},
      </if>
      <if test="babyBust != null" >
        baby_bust = #{babyBust,jdbcType=INTEGER},
      </if>
      <if test="babyHip != null" >
        baby_hip = #{babyHip,jdbcType=INTEGER},
      </if>
      <if test="babyWaist != null" >
        baby_waist = #{babyWaist,jdbcType=INTEGER},
      </if>
      <if test="babyPhone != null" >
        baby_phone = #{babyPhone,jdbcType=VARCHAR},
      </if>
      <if test="babyAddress != null" >
        baby_address = #{babyAddress,jdbcType=VARCHAR},
      </if>
      <if test="babyUpperbodycare != null" >
        baby_upperbodycare = #{babyUpperbodycare,jdbcType=VARCHAR},
      </if>
      <if test="babyFullbodycare != null" >
        baby_fullbodycare = #{babyFullbodycare,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where baby_id = #{babyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xienan.model.Baby" >
    update bj_baby
    set baby_name = #{babyName,jdbcType=VARCHAR},
      baby_birthday = #{babyBirthday,jdbcType=DATE},
      baby_height = #{babyHeight,jdbcType=INTEGER},
      baby_weight = #{babyWeight,jdbcType=INTEGER},
      baby_bust = #{babyBust,jdbcType=INTEGER},
      baby_hip = #{babyHip,jdbcType=INTEGER},
      baby_waist = #{babyWaist,jdbcType=INTEGER},
      baby_phone = #{babyPhone,jdbcType=VARCHAR},
      baby_address = #{babyAddress,jdbcType=VARCHAR},
      baby_upperbodycare = #{babyUpperbodycare,jdbcType=VARCHAR},
      baby_fullbodycare = #{babyFullbodycare,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where baby_id = #{babyId,jdbcType=BIGINT}
  </update>
</mapper>